@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

$_width: 100%;

.form {
    display: grid;
    padding: 20px;
    grid-template-columns: 60%;
    justify-content: center;
    background-color: rgb(236, 232, 232);
    ;

    &__boxone {
        background-color: var.$backgroundColorLight;
    }

    @media only screen and (max-width: 768px) {
        grid-template-columns: 90%;
    }

    @media only screen and (min-width: 769px) {
        grid-template-columns: 75%;
    }

}