@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

.header {
    grid-area: header;

    &__title {
        font-family: 'Times New Roman', Times, serif;
        color: var.$textColorPrimary;
    }
}