@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

.header {
    grid-area: header;

    &__logo--container {
        display: flex;
        justify-content: center;
    }

    &__logo {
        opacity: 0.8;
        width: 40vw;
        border-radius: 10px;
    }

    &__title {
        font-family: 'Monserrat';
        color: var.$textColorPrimary;
    }
}