@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

.navbar {
    &__menu {
        display: flex;
    }

         &__item {
             padding-left: 15px;
             padding-right: 15px;
         }
}