@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

.navbar {
    display: flex;
    justify-content: space-between;

    &__cart {
        cursor: pointer;
    }

    &__menu {
        display: flex;
    }

    &__item {
        padding-right: 15px;
    }

    &__item {

        &:hover {
            background-color: var.$textPrimaryColor;
            color: var.$backgroundColorLight;
        }
    }

    &__item--active {
            background-color: var.$textPrimaryColor;
        }
}