@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

$_width: 100%;

.table {

    &--women,
    &--men {
        margin-top: 10px;
        margin-bottom: 30px;
    }

    table {
        width: $_width;
        border: 1px solid #000;
    }

    th,
    td {
        width: 25%;
        text-align: left;
        vertical-align: top;
        border: 1px solid #000;
        border-collapse: collapse;
        padding: 0.3em;
        caption-side: bottom;
        background-color: #eee;
    }

    caption {
        padding: 0.3em;
        color: #fff;
        background: #000;
    }

}