@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

.card {
    padding: 1vw;
    opacity: 0.9;

    &__container--one {
        display: flex;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
    }

    &__container--two {
        background-color: rgb(236, 232, 232);
        border-radius: 10px;
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        background-color: rgb(236, 232, 232);
        border-radius: 10px;
    }

    &__image__container {
        display: flex;
    }

    &--product {
        background-color: white;
        margin: 5px;
        border-radius: 10px;
    }

    &__image--about {
        width: 50vw;
        border-radius: 10px;
        float: left;
        margin-right: 10px;
    }

    &__image {
        width: 60%;
        margin: 0 auto;
        border-radius: 10px;
    }

    &__title {
        color: var.$textPrimaryColor;
        margin-bottom: 5px;
    }

    &__button__container {
        margin-top: 10px;
        display: flex;
        justify-content:space-around;
    }

    &__text--short {
        margin-bottom: 10px;
    }

    &__price {
        font-weight: bold;

        &::before {
            content: "$ ";
        }
    }

    @media only screen and (max-width: 768px) {
        &__container {
            grid-template-columns: repeat(1, 1fr);
        }

        &__image--about {
            width: 96vw;
        }
    }

    @media only screen and (min-width: 769px) {
        &__container {
            grid-template-columns: repeat(3, 1fr);
        }

        &__image--about {
            width: 70vw;
        }
    }

    @media only screen and (min-width: 1200px) {
        &__container {
            grid-template-columns: repeat(4, 1fr);
        }

        &__image--about {
            width: 18vw;
        }
    }
}